/* TO DO
- Display navbar in one line (done!)
- Make navbar stay at the top of screen after scrolling past it (done!)
- The image in the article should have text wrapped around it
- Article and aside should be in a two column layout, and should be flexible in case the screen shrinks
- The photos should be in a two column layout, with a 1px gap between them */

body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
  }
  
  nav {
    background-color: #000;
    padding: .5em;

    /* "position: sticky" allows the element to stay in the specified position. */
    /* I believe this is the intended way to get the navbar to stay on screen */
    position: sticky;
    top: 0px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    /* This allows the navbar to be one evenly spaced line. */
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* .feature class controls the image in the main text */
  .feature {
      width: 200px;
      float: left;
      margin: 10px;
      padding-right: .5em;
  }