/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  /* font-faces. allows fonts to actually work */
  @font-face {
    font-family: 'ABeeZee';
    src: url('ABeeZee-Regular.woff2') format('woff2'),
        url('ABeeZee-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABeeZee';
    src: url('ABeeZee-Italic.woff2') format('woff2'),
        url('ABeeZee-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('AbhayaLibre-ExtraBold.woff2') format('woff2'),
        url('AbhayaLibre-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('AbhayaLibre-Bold.woff2') format('woff2'),
        url('AbhayaLibre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('AbhayaLibre-SemiBold.woff2') format('woff2'),
        url('AbhayaLibre-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('AbhayaLibre-Medium.woff2') format('woff2'),
        url('AbhayaLibre-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('AbhayaLibre-Regular.woff2') format('woff2'),
        url('AbhayaLibre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* text styling */
body {
  font-family: "Abhaya Libre";
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0.1px;
  word-spacing: 0.5px;
}

header {
  text-align: center;
}

h1, h2 {
  font-family: "AbeeZee";
  letter-spacing: 1px;
}

header, nav {
  font-size: 2em;
}

section h2 + p {
  text-indent: 20px;
}

/* link styling */
a:link {
 color: firebrick;
 
}

a:visited {
 color: purple;
}

a:hover {
 color: red;
 text-decoration: none;
}

a:active {
 color: green;
 font-weight: bold;
}

a[href^="http"]::after {
  content: url(external-link-52.png);
  zoom: 40%;
  margin-left: 5px;
}

/* list styling */

li {
  line-height: 1.6;
}

/* menu styling */

nav ul {
  font-family: "AbeeZee";
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  border: solid black 2px;
  padding-top: 15px;
  padding-bottom: 15px;
}